/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  width: 95%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1, h2 {
  color: #333;
}

/* Navigation Styles */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #007BFF;
  transition: color 0.3s, box-shadow 0.3s;
}

nav ul li a:hover {
  color: red;
  box-shadow: 0 0 5px red;
}

/* Form Styles */
form {
  margin: 20px 0;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input, form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px 15px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background: #0056b3;
}

/* Flash Messages */
ul.messages {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  color: green;
}

/* Logo Styles */
.logo {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo img {
  height: auto;
  width: auto;
  max-height: 50px;
  margin-right: 15px;
}

/* Record Styles */
.record {
  display: flex;
  align-items: center;
  gap: 10px;
}

.record input {
  flex: 1;
}

.record button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.record button:hover {
  background: darkred;
}

/* Checkbox Styles */
.device-checkbox, .datagroup-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.device-checkbox input[type="checkbox"], .datagroup-checkbox input[type="checkbox"] {
  margin-right: 10px;
}

/* Button Styles */
.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0px 10px 0px;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.disabled-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0px 10px 0px;
  background-color: #0056b3;
  color: gray;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.small-button {
  background-color: #4CAF50;
  color: white;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.red-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.disabled-red-button {
  background-color: darkred;
  color: gray;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.red-button:hover {
  background-color: darkred;
}

.green-button {
  background-color: green;
  color: white;
}

.green-button:hover {
  background-color: darkgreen;
  color: white;
}

.button.yellow-button {
      background-color: yellow;
      color: black;
}    

.button.disabled-yellow-button {
  background-color: orange;
  color: lightgray;
  pointer-events: none;
  cursor: default;
}    

.button.yellow-button:hover {
  background-color: orange;
  color: black;
}    

/* Table Styles */
table, th, td {
  border: 1px solid black;
}

.table-container {
  width: 100%;
  height: 100%;
  display: flex; /* Optional: For modern layouts */
  justify-content: center; /* Optional: For centering content */
  align-items: center; /* Optional: For centering content */
}

.table-container table {
  width: 100%;
  height: 100%;
  border-collapse: collapse; /* Optional: For cleaner borders */
}

.table-container table th,
.table-container table td {
    text-align: center; /* Horizontal centering */
    vertical-align: middle; /* Vertical centering */
    border: 1px solid #000; /* Optional: For visual clarity */
    padding: 10px; /* Optional: Add padding for better spacing */
}

.datagroups-table th, .datagroups-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


.datagroups-table th {
  background-color: #f2f2f2;
}

.datagroups-div {
  padding: 10px 0px;
}

.datagroups-table {
  margin-bottom: 10px; /* Add 10 pixels of padding below the table */
  width: 100%;
  border-collapse: collapse;
}

/* Vertical Centering */
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Dropdown Styles */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cee9fb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: darkblue;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .button {
    background-color: #0056b3;
}

/* Record Input Styles */
/* Add this to your existing CSS file */
.record {
  display: flex;
  align-items: flex-start;
  gap: 10px; /* Adjust the gap as needed */
}

.record input {
  flex: 1; /* This ensures the input fields take up available space */
}

.record button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.record button:hover {
  background: darkred;
}