<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F5 Data Groups Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/f5_logo.png') }}" alt="F5 Logo">
            <h1>F5 Data Groups Management</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Datagroups</a></li>
                <li><a href="{{ url_for('big_ips') }}">BIG-IPs</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)">Import</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('import_datagroup_csv') }}">Import Data Group from CSV</a>
                        <a href="{{ url_for('import_values_csv') }}">Import Values into Data Group from CSV</a>
                        <a href="{{ url_for('import_datagroup_json') }}">Import Data Group from JSON</a>
                        <a href="{{ url_for('import_values_json') }}">Import Data Group Values from JSON</a>
                        <a href="{{ url_for('import_datagroups_from_bigip') }}">Import Data Groups from BIG-IP</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)">Export</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('export_datagroup_csv') }}">Export Data Group to CSV</a>
                        <a href="{{ url_for('export_datagroup_json') }}">Export Data Group to JSON</a>
                    </div>
                </li>
                <li><a href="{{ url_for('remove_datagroup') }}">Remove Data Group from BIG-IPs</a></li>
                <li><a href="{{ url_for('deploy_datagroups') }}">Deploy Data Groups to BIG-IPs</a></li>
            </ul>
        </nav>
        <div class="content">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
