{% extends "base.html" %} {% block content %}
<h2>BIG-IP Devices</h2>

<!-- Button to add a new BIG-IP device -->
<a href="{{ url_for('add_device') }}" class="button" id="add-device-button">Add BIG-IP</a>

<div class="table-container">
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
    <!-- Loop through each device in the devices list -->
    {% for device in devices %}
    <tr>
      <td>{{ device.name }}</td>
      <td>{{ device.address }}</td>
      <td>

        <!-- Form to browse data groups for the device -->        
        <form
          action="{{ url_for('browse_datagroups', device_name=device.name) }}"
          method="get"
          style="display: inline"
        >
          <input type="hidden" name="device_name" value="{{ device.name }}" />
          <button type="submit" class="button">Browse Data Groups</button>
        </form>

        <!-- Form to update credentials for the device -->
        <form
          action="{{ url_for('update_device_credentials') }}"
          method="get"
          style="display: inline"
        >
          <input type="hidden" name="device_name" value="{{ device.name }}" />
          <button type="submit" class="button">Update Credentials</button>
        </form>

        <!-- Form to remove the device -->
        <form
          action="{{ url_for('remove_device') }}"
          method="post"
          style="display: inline"
          onsubmit="return confirmDeletion('{{ device.name }}');"
        >
          <input type="hidden" name="device_name" value="{{ device.name }}" />
          <button type="submit" class="red-button">Remove</button>
        </form>

        <!-- New form to launch TMUI in a new tab -->
        <form
          action="https://{{ device.address }}"
          method="get"
          target="_blank"
          style="display: inline"
        >
          <button type="submit" class="button">Launch TMUI</button>
        </form>

      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<script>
  function confirmDeletion(deviceName) {
    return confirm(
      "Are you sure you want to delete the device: " + deviceName + "?"
    );
  }
</script>

{% endblock %}
