{% extends "base.html" %} {% block content %}
<h2>BIG-IP DSC Groups</h2>

<!-- Button to add a new BIG-IP DSC Group -->
<a href="{{ url_for('add_dsc_group') }}" class="button" id="add-dsc-group-button">Add BIG-IP Device Service Group</a>

<div class="table-container">
  <table>
    <tr>
      <th>Device Service Clustering Group Name</th>
      <th>Members</th>
      <th>Actions</th>
    </tr>
    <!-- Loop through each DSC Group in the DSC Groups list -->
    {% for dsc_group in dsc_groups %}
    <tr>
      <td>{{ dsc_group.name }}</td>
      <td>{{ dsc_group.address }}</td>
      <td>

        <!-- Form to browse data groups for the DSC group -->        
        <form
          action="{{ url_for('browse_datagroups', dsc_group_name=dsc_group.name) }}"
          method="get"
          style="display: inline"
        >
          <input type="hidden" name="dsc_group_name" value="{{ dsc_group.name }}" />
          <button type="submit" class="button">Browse Data Groups</button>
        </form>

        <!-- Form to update credentials for the DSC Group -->
        <form
          action="{{ url_for('update_dsc_group_credentials') }}"
          method="get"
          style="display: inline"
        >
          <input type="hidden" name="dsc_group_name" value="{{ dsc_group.name }}" />
          <button type="submit" class="button">Update Credentials</button>
        </form>

        <!-- New form to launch TMUI in a new tab -->
        <form
          action="https://{{ dsc_group.address }}"
          method="get"
          target="_blank"
          style="display: inline"
        >
          <button type="submit" class="button">Launch TMUI</button>
        </form>

        <!-- Form to remove the DSC Group -->
        <form
          action="{{ url_for('remove_dsc_group') }}"
          method="post"
          style="display: inline"
          onsubmit="return confirmDeletion('{{ dsc_group.name }}');"
        >
          <input type="hidden" name="dsc_group_name" value="{{ dsc_group.name }}" />
          <button type="submit" class="red-button">Remove</button>
        </form>

      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<script>
  function confirmDeletion(dsc_groupName) {
    return confirm(
      "Are you sure you want to delete the DSC group: " + dsc_groupName + "?"
    );
  }
</script>

{% endblock %}
