{% extends "base.html" %}

{% block content %}
<h2>Deploy Data Groups</h2>
<form method="post" action="{{ url_for('deploy_datagroups') }}">
    <label>Select Devices:</label>
    <br>
    {% for device in devices %}
    <div class="device-checkbox">
        <input type="checkbox" id="device_{{ device.name }}" name="devices" value="{{ device.name }}">
        <label for="device_{{ device.name }}">{{ device.name }} ({{ device.address }})</label>
    </div>
    {% endfor %}
    <br>
    <label>Select Data Groups:</label>
    <br>
    {% for datagroup in datagroups %}
    <div class="datagroup-checkbox">
        <input type="checkbox" id="datagroup_{{ datagroup.name }}" name="datagroups" value="{{ datagroup.name }}">
        <label for="datagroup_{{ datagroup.name }}">{{ datagroup.name }}</label>
    </div>
    {% endfor %}
    <br>
    <button type="submit">Deploy Selected Data Groups</button>
</form>
{% endblock %}
