{% extends "base.html" %}

{% block content %}
<h2>Import Data Groups from BIG-IP</h2>
<form method="post" action="{{ url_for('import_datagroups_from_bigip') }}">
    <label>Select Devices:</label>
    <br>
    {% for device in devices %}
    <div class="device-checkbox">
        <input type="checkbox" id="device_{{ device.name }}" name="devices" value="{{ device.name }}">
        <label for="device_{{ device.name }}">{{ device.name }} ({{ device.address }})</label>
    </div>
    {% endfor %}
    <br>
    <button type="submit">Import Data Groups</button>
</form>
{% endblock %}
