{% extends "base.html" %}

{% block content %}
<h2>Data Groups</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Records Count</th>
        </tr>
    </thead>
    <tbody>
        {% for datagroup in datagroups %}
        <tr>
            <td>{{ datagroup.name }}</td>
            <td>{{ datagroup.type }}</td>
            <td>{{ datagroup.description }}</td>
            <td>{{ datagroup.records|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
