{% extends "base.html" %}

{% block content %}
<h2>Remove Device</h2>
<form method="post" action="{{ url_for('remove_dsc_group') }}">
    <label for="name">Select Device to Remove:</label>
    <select id="name" name="name" required>
        {% for dsc_group in dsc_groups %}
        <option value="{{ dsc_group.name }}">{{ dsc_group.name }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="checkbox" id="confirm" name="confirm" required>
    <label for="confirm">I confirm that I want to remove this dsc_group.</label>
    <br>
    <button type="submit">Remove Device</button>
</form>
{% endblock %}
