{% extends "base.html" %}

{% block content %}
<h2>Select BIG-IPs</h2>
<form method="post" action="{{ url_for('remove_datagroup') }}">
    <input type="hidden" name="step" value="1">
    <label>Select BIG-IPs:</label>
    <br>
    {% for device in devices %}
    <div class="device-checkbox">
        <input type="checkbox" id="device_{{ device.name }}" name="devices" value="{{ device.name }}">
        <label for="device_{{ device.name }}">{{ device.name }} ({{ device.address }})</label>
    </div>
    {% endfor %}
    <br>
    <button type="submit">Next</button>
</form>
{% endblock %}
