{% extends "base.html" %}

{% block content %}
<h2>Select Data Groups to Import</h2>
<form method="post" action="{{ url_for('import_selected_datagroups') }}">
    <input type="hidden" name="selected_dsc_groups" value="{{ selected_dsc_groups|tojson }}">
    {% for dsc_group in selected_dsc_groups %}
        <h3>{{ dsc_group.name }} ({{ dsc_group.address }})</h3>
        <label>Select Data Groups:</label>
        <br>
        <table>
            {% for datagroup in dsc_group.datagroups %}
            <tr>
                <td style="text-align: center;">
                    <input type="checkbox" name="datagroups_{{ dsc_group.name }}" value="{{ datagroup }}">
                </td>
                <td>{{ datagroup }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}
    <br>
    <button type="submit">Import Selected Data Groups</button>
</form>
{% endblock %}
